---
import Datetime from "./Datetime";
import { Icon } from "astro-icon/components";
import type { BlogFrontmatter } from "@content/_schemas";

export interface Props {
	href?: string;
	frontmatter: BlogFrontmatter;
}

const { href, frontmatter } = Astro.props;
const { title, author, pubDatetime, description, postThumb, quickLink } = frontmatter;
---
<li class="my-10 flex flex-wrap items-center gap-8 sm:flex-nowrap">
	{postThumb ? (
		<div class="post-thumb basis-full sm:basis-1/4">
			<a
				href={quickLink ? quickLink : href}
				target={quickLink ? "_blank" : "_self"}
			>
				<img
					src={postThumb}
					class="w-full max-w-sm rounded-md"
					alt={title}
				/>
			</a>
		</div>
	) : (
		<div></div>
	)}
	<div class="post-content basis-full sm:basis-3/4">
		<a
			href={quickLink ? quickLink : href}
			target={quickLink ? "_blank" : "_self"}
			class="inline-block text-lg font-medium text-skin-accent focus-visible:no-underline focus-visible:underline-offset-0"
		>
				<h3
					style={{ textDecorationColor: "rgb(59 130 246 / 0.15)" }}
					class="decoration-inherit text-transparent inline-block bg-[linear-gradient(to_right,#4eade8_0%,#65beb3_60%,#4eade8_100%)] bg-clip-text text-lg font-medium decoration-wavy underline-offset-4 subpixel-antialiased hover:underline"
					transition:name={title}
				>
					{title}
					{quickLink && <Icon name="ion:open-outline"  size={18} class="text-cyan-400 -translate-y-[1.5px]" />}
				</h3>
		</a>
		{quickLink && <small class="-translate-y-[1px] inline-block italic text-blue-200">by {author}</small>}
		<Datetime datetime={pubDatetime} />
		<p>{description}</p>
	</div>
</li>
