---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import LinkButton from "@components/LinkButton.astro";
export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

let { title, author, description, ogImage, postSlug, pubDatetime, tags } = post.data;
tags = tags.map(tag => slugifyStr(tag));

const { Content } = await post.render();

const ogUrl = new URL(ogImage ? ogImage : `${title}.png`, Astro.url.origin)
	.href;

const titleClass = title
	.toLowerCase()
	.replace(/ /g, "-")
	.replace(/[^\w-]+/g, "");
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
	<Header />
	<main id="main-content" class=`${titleClass} mt-8`>
		<h1
			class="post-title text-transparent inline-block bg-[linear-gradient(to_right,#a176c8_10%,#759beb_30%,#65beb3_60%,#70db96_100%)] bg-clip-text subpixel-antialiased"
			transition:name={title}
		>
			{title}
		</h1>
		<Datetime datetime={pubDatetime} size="lg" className="my-2" />
		<article id="article" role="article" class="prose mx-auto mt-8 max-w-4xl">
			<Content />
		</article>
		<ul class="tags-container">
			{tags.map(tag => <Tag name={tag} />)}
		</ul>
		<!-- Edit on github link -->
		<LinkButton href=`https://github.com/mikowl/mikowl-ap/edit/main/src/content/blog/${postSlug}.mdx`>Edit on Github</LinkButton>
		<div class="text-center">
			<a type="button" href="/posts" tabindex="0" class="no-underline mb-10">
				More Posts
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 astro-J7PV25F6"
					><path
						d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
						class="astro-J7PV25F6"></path>
				</svg>
			</a>
		</div>
		<!-- Next blog post -->
	</main>
	<Footer />
</Layout>

<style>
	main {
		@apply mx-auto w-full max-w-4xl px-4 pb-12;
	}
	p {
		@apply text-lg font-light;
	}
	.post-title {
		@apply text-3xl font-semibold text-skin-accent;
	}
	.tags-container {
		@apply my-8;
	}
</style>
